CH_HOST=xxxxx.ap-south-1.aws.clickhouse.cloud
CH_PORT=8443
CH_USER=default
CH_PASSWORD=your-clickhouse-password
CH_DB=rca
AUDIT_TABLE=rca.audit_log

OPENROUTER_API_KEY=sk-or-xxxxxxxxxxxx
LLM_MODEL=openai/gpt-oss-20b:free

LANGFUSE_PUBLIC_KEY=pk-lf-xxxxxxxx
LANGFUSE_SECRET_KEY=sk-lf-xxxxxxxx
LANGFUSE_HOST=https://cloud.langfuse.com
